{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'languagechat/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $("#file").on('change', function() {
      var fileName = $("#file").val();
      $(".upload-name").val('수어이미지');
    });
  });
</script>
<script>
    let idNum = 0;
    function addFile(){
        deepCopy();
    }

    function deepCopy()  {
      // 'test' node 선택
      const fileModule = document.getElementById('file-module-'+idNum);



      // 노드 복사하기 (deep copy)
      const newNode = fileModule.cloneNode(true);

      console.log(newNode)

      // 복사된 Node id 변경하기
      idNum++;
      newNode.id = 'file-module-' + idNum;

      // 복사한 노드 붙여넣기
      fileModule.after(newNode);
    }
</script>

{% endblock %}

<div class="three">
    <h1 >수어 번역 By Chat GPT</h1>
</div>


<form action="chat" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <span id="file-module-0" style="padding: 1px">
        <fieldset style="border-radius: 5px; padding: 5px; min-height:100px; border:2px solid black; background-color:#0000;">
        <legend style="margin-left:50px;background-color:#0000; padding-left:30px; padding-top:5px; padding-right:30px; padding-bottom:5px; ; color:black; border-radius:20px; border:3px solid black; font-size:30px;" ><b> File Upload </b> </legend>
        <label> <br/><br/> </label>
        <div class="filebox">
        <input class = "upload-name"  value="첨부파일" placeholder="첨부파일">
        <label for="file">파일찾기</label>
        <input type='file' id = 'file'name="files">
        </div>
        </fieldset>
    </span>
    <div><button onclick="addFile()" type="button" class="custom-btn btn-12"><span>GO!!</span><span>파일추가!</span></button></div>
    {% comment %} <div><input type="submit" value="ChatGPT에게 수어로 문의하기"></div> {% endcomment %}

    <div><input type="submit" title="Button push blue/green" class="button btnPush btnBlueGreen" value="ChatGPT에게 수어로 문의하기"></a>
    </div>


</form> 
